.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: darkgrey;
    display: flex;
}

.nav > a {
    left: 0;
    height: 8em;
    width: 8em;
    color: black;
}

.nav > a > img {
    height: 100%;
    width: 100%;
    padding: 1em;
}

.nav > h1 {
    color: black;
}
